# Ignore Mac system files
.DS_store

# Ignore files related to API keys
.env

/event_log.csv
/.idea/

__pycache__/
*.py[cod]
/collaboration_model.bpmn
/To_petrinet.ipynb
/motivating_example.drawio
/input_parallel
/analysis/experiments/*/output_log/
/analysis/experiments/*/output_analysis/